body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.welcome {
    font-weight: bold;
}

.container {
    display: grid;
    height: 97vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.svg {
    width: 25px;
    height: 25px;
}

.profile-picture {
    border-radius: 50%;
}

.sidebar {
    background-color: #0284c7;
    color: white;
    grid-row: 1 / -1;
    display: flex;
    flex-flow: column wrap;
    padding-top: 9px;
    gap: 20px;
    align-content: center;




    /* justify-content: center;
    grid-template-rows: 2fr, repeat(9, 1fr);
    grid-auto-rows: 1fr; */
}

#dashboard {
    display: flex;
    align-items: center;
    gap: 1em;
}

.sidebar > div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    flex-grow: 0.75;
    border-radius: 15px;
    background-color: #e2e8f0;
    border: none;
    padding: 0.5em;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom-right,
.header-bottom-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-button {
    border-radius: 20px;
    border: none;
    background-color: #0284c7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-weight: bold;
}

.main-content {
    box-shadow: 0px -5px 5px #e2e8f1;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 10px;
}

.main-content-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-card {
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    box-shadow: -5px 0px orange;
    border-color: white;
    background-color: white;
    height: minmax(175px, auto);
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    justify-content:space-between;
}

.project-card div span {
    font-size: 12px;
}

.announcements {
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background-color: white;
    margin-top: -5px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.announcements > div {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.trending {
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: minmax(250px, auto);
}

.trending > div {
    display: flex;
    gap: 20px;
}

h5,
.text-wrapper > h4
 {
    margin-bottom: 0;
}

.trending-text {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.icon-wrapper {
    display: flex;
    justify-content: end;
    gap: 30px;
}

hr {
    width: 90%;
    color: gray;
    margin-bottom: 0px;
}

.announcements-text {
    font-size: 10px;
}

a {
    color: white;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }