body {
    font-family: 'Roboto', sans-serif;
}

.welcome {
    font-weight: bold;
}

.container {
    display: grid;
    height: 97vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.svg {
    width: 25px;
    height: 25px;
}

.profile-picture {
    border-radius: 50%;
}

.sidebar {
    background-color: pink;
    grid-area: 1 / 1 / 4 / 2;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(10, 1fr);
}

.sidebar > div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    flex-grow: 0.75;
    border-radius: 15px;
    background-color: #e2e8f0;
    border: none;
    padding: 0.5em;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom-right,
.header-bottom-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-button {
    border-radius: 20px;
    border: none;
    background-color: #0284c7;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-weight: bold;
}

.main-content {
    background-color: lightcyan;

}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }